<!DOCTYPE html>
<html lang="de">
  <head>    
    <meta charset="UTF-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
    <title>Tickets to GitLab</title>
    
    <link rel="stylesheet" type="text/css" href="node_modules/datatables.net-dt/css/jquery.dataTables.css"/>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <!-- <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script> -->
    <link rel="stylesheet" href="design.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <script src="javascript_functions.js"></script>
    <link rel="stylesheet" type="text/css" href="alertifyjs/css/alertify.css">
    <link rel="stylesheet" type="text/css" href="alertifyjs/css/themes/default.css">
    <script src="alertifyjs/alertify.js"></script>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->   
    <!-- AUTOCOMPLETE -->
    <script src="jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.structure.min.css">
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

  </head>
  <body>

{% set SELF = 'start.php' %}

{% if state == 'not_loggedIn' %}
<div class="mainContainer_not_loggedIn">
    <div class="logoContainer">
        <img src="gal-logo-kurz.svg" alt="Gal-Digitl_logo" style="width:70px;">
    </div>    
        <div class="frame frame_not_loggedIn">
                <form action={{SELF}} method='post'>
                    <h4 id='emailLabel'>Moco Email</h4> 
                    <div class="labelTextFields labelTextFields_not_loggedIn">      
                        <input type='text' class="input_not_loggedIn" name='user' value="christian.pitzner@gal-digital.de" size='20' autocomplete="off" /> 
                    </div>
                    <h4 id='passwdLabel'>Passwort</h4>
                    <div class="labelTextFields labelTextFields_not_loggedIn">          
                        <input type='password' class="input_not_loggedIn" name='passwd' value="chris2147" size='20' autocomplete="off" />
                    </div>
                
                <div class="btnContainer btnContainer_not_LoggedIn">
                <input type="submit" class="button btn_notloggedIn" name="login" value="login" />
                </div> 
            </form>
        </div>
        <h1 class="h1_not_loggedIn" >Moco2GitLab&nbsp &#10004;&#xFE0E;</h1> 
    </div>
{% endif %}

{% if state == 'wrongUser' %}
<div class="mainContainer_not_loggedIn">
    <div class="logoContainer">
        <img src="gal-logo-kurz.svg" alt="Gal-Digitl_logo" style="width:70px;">
    </div>    
        <div class="frame frame_not_loggedIn">
                <form action={{SELF}} method='post'>
                <h4 id='emailLabel'>Moco Email</h4> 
                    <div class="labelTextFields labelTextFields_not_loggedIn">     
                        <input type='text' class="input_not_loggedIn" name='user' placeholder="Benutzername.." size='20' autocomplete="off" /> 
                    </div>
                <h4 id='passwdLabel'>Passwort</h4>
                    <div class="labelTextFields labelTextFields_not_loggedIn">          
                        <input type='password' class="input_not_loggedIn" name='passwd' placeholder="Passwort.." size='20' autocomplete="off" />
                    </div>
                
                <div class="btnContainer btnContainer_not_LoggedIn">
                <input type="submit" class="button btn_notloggedIn" name="login" value="Login" />
            </div> 
        </form>
    </div>
    <h1 class="h1_not_loggedIn">Moco2GitLab&nbsp &#10004;&#xFE0E;</h1> 
</div>
<h3>Email-Adresse / Passwort falsch</h3>
{% endif %}

{% if state == 'offer_chosen' %}
<form action={{SELF}} method='post'>
    <div class="logoContainer logoContainer_main_frame"> 
        <div class="logo">
            <img src="gal-logo-kurz.svg" alt="Gal-Digitl_logo" style="width:70px;">
        </div>
        <div class="top_btnContainer">         
            <!-- <input type='button' id='new_key' onclick='show_key()' class='button btn_gitlab_key' name='changeKey' value='GitLab-Key bearbeiten'/> -->
            <input type='submit' class='button btn_logout' name='manage_gitlab_token' value='GitLab-Key bearbeiten'/>
            <input type='submit' class='button btn_logout' name='logout' value='logout'/>
        </div>
    </div> 
</form>
    
    <div class='frame frame_offer_chosen'>          
        <form id="form_main_frame "autocomplete="off" action={{SELF}} method='post'>
            <div class='headContainer'>

                <div class='gitContainer'>
                    <h4 class='head_label'>GitLab Gruppe</h4>
                    <select class='select_group' name='sel_group'>
                            {{ get_gitlab_groups() }}       
                    </select>

                    <h4 class='head_label'>GitLab Account</h4>
                    <select class='select_gitlab_token' name='sel_gitlab_token'>
                        {{ get_gitlab_API_key() }}
                    </select>
                </div>

                <div class='sendContainer'>
                    <div class='tmpContainer'>
                        <input type='submit' id='send_button' onclick="setTimeout(loadingFunction_main_frame, 1)" class='button btn_sent_tickets' name='sent_tickets' value='Tickets senden&nbsp;&nbsp;&nbsp;&#9992;'/>
                    </div>
                </div>

            </div>
    
        <div class='spacer'><hr></div>

        <div class='offerContainer'>
            <div class="autocomplete" >
                <div class="ui-widget main_inputContainer">

                    <input id="offerInput" type="text" name="offerInput" placeholder="Angebot auswählen">
                </div>
            </div>
            <div class="autocomplete" >
                <div class="ui-widget main_inputContainer">
                    <input id="projectInput" type="text" name="projectInput" placeholder="Projekt auswählen">
                </div>
            </div>
            <input type='submit' id='btn_sel_offer' onclick="setTimeout(loadingFunction_main_frame, 1)" class='button btn_chosen_offer' name='btn_choose_offer' value='wählen' />
        </div>

        <div id='loadingContainer_main_frame'>
                <table id='table_id' class='display'>
                    <thead>
                        {{ headline() }}
                        <tr>
                            <th>Angebots-Positionen</th>
                            <th>als Ticket einfügen</th>
                        </tr>
                    </thead>
                        <tbody>
                            {{ select_ticketIDs_from_DB() }} 
                            {{ load_offer() }}
                        </tbody>
                </table>
            <script>load_datatable();</script>
        </div>
        </form>
    </div>
</div>
<div id="ajax-box"></div>

    {% if no_tickets_selected == true %}   
        <script>
            alertify.alert('Achtung', 'Es wurden keine Tickets ausgewählt');
            checkbox_check();
        </script>
    {% endif %}

    {% if no_input == true %}   
    <script>
        alertify.alert('Achtung', 'Projekt & Angebot angeben!');
    </script>
    {% endif %}

    {% if offer_title_input != "" %} 
        <script>
                document.getElementById("offerInput").value = "{{offer_title_input}}";
        </script>
    {% endif %}

    {% if project_title_input != "" %} 
        <script>
                document.getElementById("projectInput").value = "{{project_title_input}}";
        </script>
    {% endif %}

    <script>
        var all_offers = new Array;
        var all_projects = new Array;
    </script>
    {% for offer in all_offers %}
    <script>
        all_offers.push("{{ offer|e('js') }}");
    </script>
    {% endfor %}

    {% for project in all_projects %}
    <script>
        all_projects.push("{{ project|e('js') }}");
    </script>
    {% endfor %}
    <script>
        $( function() {
            $( "#offerInput" ).autocomplete({
                source: all_offers
            });
            } );

            $( function() {
            $( "#projectInput" ).autocomplete({
                source: all_projects
            });
            } );
    </script> 
{% endif %}

{% if state == 'ticket_sent' %}
<form action={{SELF}} method='post'>
    <div class="logoContainer logoContainer_main_frame"> 
        <div class="logo">
            <img src="gal-logo-kurz.svg" alt="Gal-Digitl_logo" style="width:70px;">
        </div>
        <div class="top_btnContainer">         
            <!-- <input type='button' id='new_key' onclick='show_key()' class='button btn_gitlab_key' name='changeKey' value='GitLab-Key bearbeiten'/> -->
            <input type='submit' class='button btn_logout' name='manage_gitlab_token' value='GitLab-Key bearbeiten'/>
            <input type='submit' class='button btn_logout' name='logout' value='logout'/>
        </div>
    </div> 
</form>
        {% if ticket_check != "" %}   
            <script>
                var ticket_check = "{{ ticket_check }}";
                var tmp = ticket_check.split(',');
                var res = tmp.join(" <br> ");
                alertify.alert('Diese Tickets existieren bereits in {{selected_project}}', res);
            </script>
        {% endif %}

        <div class='frame frame_ticket_sent'>
            <form action={{SELF}} method='post'>

                <h2 class="h2_chosen_ticket_overview">Einfügen in Projekt:  <b>&#x279C;</b> {{selected_project}}</h2>

                <div id='loadingContainer_ticket_sent' >
                    <div class="btnContainer btnContainer_ticket_sent">
                        <div class="tmpContainer_ticket_sent1">
                            <input type='submit' class='button btn_ticket_sent' name='back' value='Zurück'/>
                        </div>
                        <div class="tmpContainer_ticket_sent2">
                            <input type='submit' onclick="setTimeout(loadingFunction_send_frame, 1)" class='button btn_ticket_sent_end' name='transfer' value='abschicken'/>
                        </div>
                    </div>
                </div>

                <div class="project_description">
                    {% if project_description != '' %}
                        <textarea name="project_description" rows="5" cols="50" >{{project_description}}</textarea>
                    {% else %}
                        <textarea name="project_description" rows="5" cols="50" placeholder="Beschreibung des Projektes einfügen..."></textarea>
                    {% endif %}
                </div>

                {% for ticket in selected_tickets %}
    
                    <div class="chosen_ticket_overview">{{ticket}}</div>

                {% endfor %}
            </form>
        </div>
{% endif %}

{% if state == 'manage_gitlab_token' %}

    <form action={{SELF}} method='post'>
        <div class="logoContainer logoContainer_main_frame"> 
            <div class="logo">
                    <img src="gal-logo-kurz.svg" alt="Gal-Digitl_logo" style="width:70px;">
            </div>
            <div class="top_btnContainer">         
                    <input type='submit' class='button btn_logout' name='logout' value='logout'/>
            </div>
        </div> 
    </form>

    <div class='frame frame_offer_chosen'>  
        <form action={{SELF}} method="post">
            <div class="btnContainer_gitlab_token">
                <div class="tmpContainer_gitlab_token1">
                    <input type="submit" class=" button btn_gitlab_key" name="back" value="Zurück" />
                </div>
                <div class="tmpContainer_gitlab_token2">
                    <input type='button' class="button btn_gitlab_key" id='new_key' onclick='show_key()' name='changeKey' value='GitLab-Key hinzufügen'/>
                </div>
            </div>
            <div id='loadingContainer'>
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>GitLab E-Mail</th>
                            <th>GitLab Token</th>
                            <th>Bearbeiten</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ show_token_pdo() }}
                    </tbody>
                </table>
                <script>load_datatable();</script>
        </div>
        </form>
    </div>

    <div style="display:none;" >
            <div id="dlgContent">
                <p> GitLab eMail-Adreese </p>
                <input class="ajs-input" id="inpOne" type="text" value="" autocomplete="off"/> 

                <p> GitLab User Name </p>
                <input class="ajs-input" id="inpTwo" type="text" value="" autocomplete="off"/> 
        
                <p> GitLab Token </p>
                <input class="ajs-input" id="inpThree" type="text" value="" autocomplete="off"/> 
            </div>
    </div>
{% endif %}


{% if (state == 'editToken' or state == 'editTokenEmptyField' or state == 'editTokenInvalidToken') %}
    <form action={{SELF}} method='post'>
        <div class="logoContainer logoContainer_main_frame"> 
            <div class="logo">
                    <img src="gal-logo-kurz.svg" alt="Gal-Digitl_logo" style="width:70px;">
            </div>
            <div class="top_btnContainer">         
                    <input type='submit' class='button btn_logout' name='logout' value='logout'/>
            </div>
        </div> 
    </form>

    <div class="frame frame_create">
            <h1>GitLab Token bearbeiten</h1> 
            <form action={{SELF}} method='post'>
                <div class= "container_create_1">
                    <div class="div_create1"><input type="text" class="input_create" name="gitlab_email" value={{gitlab_email}} size="20" autocomplete="off" /></div>
                    <div class="div_create2"><input type='text' class="input_create" name='gitlab_token' value={{gitlab_token}} size='20' autocomplete="off" /></div>
                </div>                   

            <div class="btnContainer btnContainer_createToken">
                    <input type="submit" class="button btn_edit_token" name="back_to_edit" value="Zurück" />
                    <input type="submit" class="button btn_edit_token" name="saveToken" value="Speichern" />
                    <input type="submit" class="button btn_edit_token" name="deleteToken" value="Löschen" />
            </div>
        </form>
    </div>
{% endif %}

{% if state == 'editTokenEmptyField' %}
    <h3>Alle Felder müssen ausgefüllt sein</h3>      
{% endif %}

{% if state == 'editTokenInvalidToken' %}
    <h3>Die Daten Kombination existiert bereits</h3>      
{% endif %}


</body>
</html>