* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Roboto;
	font-size: 1em;
	background: #254665; 
	text-align: center;
	/* margin-top: 1em; */
}
.logoContainer {
	padding: 0.8em 0 0.7em 0;
}
h1 {
	color: #1f334e;
	font-size: 1.2em;
	margin-bottom: 0.7em;
}
h2 {
	font-size: 1em;
	padding-bottom: 10px;
	color: #1f334e;
}
h3 {
	font-size: 1.6em;
	color: white;
	font-weight: bold;
	margin-top: 1em;
}
h4 {
	font-size: 0.8em;
	color: white;
	text-align: left;
	text-transform: uppercase;
	font-weight: lighter;
}
.frame {
	margin: auto;
	overflow: visible;
	padding: 1.5em 2em 1.5em 2em;
	width: 30%;
	/* border-radius: 8px; */
	background: #FFFFFF;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.btnContainer {
	margin: 1.3em 0 1em 0;
}
.labelTextFields {
	width: 70%;
	margin: 0 auto;
	padding: 0.5em;
}
/* .projectContainer {
	margin-bottom: 1.5em;
} */
.button {
	text-transform: uppercase;
	outline: 0;
	border: 0;
	color: #FFFFFF;
	/* transition: all 0.3 ease;
	-webkit-transition: all 0.3 ease;
	-moz-transition: all 0.3 ease;
	-o-transition: all 0.3 ease; */
	cursor: pointer;
	/* border-radius: 4px; */
	border-radius: 0;
	-webkit-appearance: none;
}

.button:hover {
	background: #254665;
	color: white;
}
input[type='text'], input[type='password'] {
	/* width: 100%; */
	outline: 0;
	background: #f2f2f2;
	border: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	border-radius: 0;
}
input[type=checkbox] {
  /* Double-sized Checkboxes */
  transform: scale(2);
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin: 0.5em;
}
select {
	outline: 0;
	background: #f2f2f2;
	color: #1f334e;
	box-sizing: border-box;
	/* box-shadow: inset 0 0 18px #c9c6c6; */
	/* border-radius: 4px; */
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
}
option {
	font-size: 1.3em;
	height: 2em;
	margin:2em;
	line-height:2em;
	padding:2em;
}
/* //////////////// */

/* frame not_loggedIn*/
.mainContainer_not_loggedIn {
	background-color: #1f334e;
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.frame_not_loggedIn {
	width: 20%;
	background-color: #254665;
}
.h1_not_loggedIn {
	color: white;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0.8em 0 0 0;
}
#emailLabel {
	margin: 0 0 0.3em 0;	
}
#passwdLabel {
	margin: 0.6em 0 0.3em 0;
}
.labelTextFields_not_loggedIn {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
}
.input_not_loggedIn {
	width: 100%;
	margin: 0;
	padding: 1em;
	font-size: 1em;
}
.btnContainer_not_LoggedIn {
	display: flex;
	margin: 0;
	padding: 0;
}
.btn_notloggedIn {
	color: #1f334e;
	font-weight: bold;
	width: 100%;
	margin-top: 1em;
	padding: 1em;
	font-size: 1em;
	background-color: #FCBE00;
}
.btn_notloggedIn:hover {
	background-color: #1f334e;
	color: white;
}
@media ( max-width: 1250px ) {
	.frame_not_loggedIn {
		width: 30%;
	}
}
@media ( max-width: 900px ) {
	.frame_not_loggedIn {
		width: 70%;
	}
}
/* //////////////// */

/* frame offer_chosen*/
.logoContainer_main_frame {
	width: 100%;
	height: 2.5em;
	display: flex;
	background-color: #1f334e;
}
.logo {
	width: 97%;
	display: flex;
	justify-content: flex-end;
}
.top_btnContainer {
	width: 92%;
	display: flex;
	justify-content: flex-end;
}
.btn_gitlab_key {
	background-color: #1f334e;
	padding: 10px;
	font-size: 0.7em;
}
.btn_logout {
	background-color: #1f334e;
	padding: 10px;
	font-size: 0.7em;
	margin: 0 2em 0 0;
}
.lightblue {
	color: rgb(20, 106, 204);
	font-size: 1.3em;
}
.frame_offer_chosen {
	width: 50%;
}
.headContainer {
	display: flex;
}
.gitContainer {
	width: 70%;
	display: flex;
}
.sendContainer {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}
.head_label {
	font-weight: bold;
	color: #254665;
	margin: 0.9em 1em 0 0;
}
.head_label:nth-of-type(2) {
	margin-left: 3em;
}
.select_group {
	width: 20%;
	padding: 11px;
	font-size: 0.8em;
}
.select_gitlab_token {
	width: 20%;
	padding: 11px;
	font-size: 0.8em;
}
/* .tmpContainer {
	align-self: flex-end;
} */
.btn_sent_tickets {
	/* align-self: flex-end; */
	padding: 11px;
	font-size: 0.8em;
	font-weight: bold;
	background-color: #757575;
	color: white;
}
.spacer {
	margin: 0.7em 0 0.7em 0;
}
hr {
	border: 0;
	height: 5px;
	background-image: linear-gradient(to right,
	rgba(0,0,0,0),
	#1f334e,
	rgba(0,0,0,0));
}
.offerContainer {
	display: flex;
	width: 100%;
	margin: 0 0 1em 0;
}
.ui-widget {
	/* width: 60%; */
	margin-right: 1em;
}
#offerInput {
	padding: 12px;
	margin-bottom: 0;
	color: #1f334e;
}
#projectInput {
	padding: 12px;
	color: #1f334e;
	margin-bottom: 0;
}
li {
	font-size: 1.1em;
}
.btn_chosen_offer {
	padding: 10px;
	font-size: 0.8em;
	font-weight: bold;
	background-color: #757575;
	color: white;
}
.offer_title {
	display: flex;
	justify-content: center;
}
.h2_offer_title {
	font-size: 1em;
	margin: 0 2em 0 0;
	padding: 0.3em 0 0 0;
}
@media ( max-width: 1420px ) {
	.frame_offer_chosen {
		width: 70%;
	}
}
@media ( max-width: 900px ) {
	.frame_offer_chosen {
		width: 85%;
	}
	/* .headlineContainer {
		display: none;	
	} */
	.logo {
		justify-content: flex-start;
		margin-left: 1.2em;
	}
	img {
		width: 50%;
	}
	.headContainer {
		display: block;
	}
	.gitContainer {
		display: block;
		margin-bottom: 1em;
		width: 100%;
	}
	.select_group {
		width: 100%;
		padding: 1em;
		font-size: 1em;
	}
	.head_label {
		margin: 0 0 0.5em 0;
	}
	.head_label:nth-of-type(2) {
		margin-left: 0;
		margin-top: 1em;
	}
	.sendContainer {
		width: 100%;
		justify-content: flex-start;
	}
	.tmpContainer {
		width: 100%;
	}

	.offerContainer {
		display: block;
	}
	/* .head_label {
		margin-right: 0;
		text-align: center;
	} */
	.select_gitlab_token {
		width: 100%;
	}
	/* .sel_btn_container {
		width: 100%;
	} */
	.select_gitlab_token {
		padding: 1em;
		font-size: 1em;
	}
	.autocomplete {
		width: 100%;
	}
	.main_inputContainer {
		width: 100%;
	}
	#offerInput {
		width: 100%;
		padding: 1em;
		font-size: 1em;
		margin-bottom: 1em;
	}
	#projectInput {
		width: 100%;
		padding: 1em;
		font-size: 1em;
		margin-bottom: 1em;
	}
	.btn_chosen_offer {
		width: 100%;
		padding: 1em;
		font-size: 1em;
		margin-bottom: 1em;
	}
	/* .tmp_div2 {
		width: 100%;
	} */
	.btn_sent_tickets {
		width: 100%;
		padding: 1em;
		font-size: 1em;
	}

}
/* //////////////// */

/* frame ticket_sent*/
.logo_ticket_send {
	background-color: #1f334e;
	height: 2.5em;
}
.frame_ticket_sent {
	width: 25%;
}
.project_description {
	display: flex;
	margin: 0 0 1em 0;
}
textarea {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: Roboto;
	font-size: 1em;
	background-color: #eeeeee;
	border: none;
}
.h2_chosen_ticket_overview {
	font-size: 1.2em;
	padding: 0;
	margin: 0 0 0.5em 0;
}
.chosen_ticket_overview {
	padding: 10px;
	font-size: 1em;
	margin: 0 0 0.4em 0;
	background-color: #eeeeee;
}
.btnContainer_ticket_sent {
	display: flex;
	margin: 0 0 1.2em 0;
}
.tmpContainer_ticket_sent1 {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}
.tmpContainer_ticket_sent2 {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.btn_ticket_sent {
	background-color: #757575;
	color: white;
	margin: 0 0 0 0;
	padding: 10px;
	font-size: 0.8em;
	font-weight: bold;
}
.btn_ticket_sent_end {
	background-color: #757575;
	color: white;
	margin: 0 0 0 0;
	padding: 10px;
	font-size: 0.8em;
	font-weight: bold;
}
@media ( max-width: 1420px ) {
	.frame_ticket_sent {
		width: 60%;
	}
}
@media ( max-width: 900px ) {
	.frame_ticket_sent {
		width: 85%;
	}
}
/* //////////////// */

/* manage GitLab token */
.btnContainer_gitlab_token {
	display: flex;
	margin: 0 0 2em 0;
}
.tmpContainer_gitlab_token1 {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}
.tmpContainer_gitlab_token2 {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.btn_gitlab_key {
	padding: 10px;
	font-size: 0.8em;
	font-weight: bold;
	/* color: #1f334e;
	background-color: #b9b6b6; */
	background-color: #757575;
	color: white;
}
/* //////////////// */

/* edit GitLab token */
.div_create1 {
	margin: 0 0 1em 0;
}
.input_create {
	padding: 11px;
	margin-bottom: 0;
	color: #1f334e;
}
.btn_edit_token {
	padding: 10px;
	font-size: 0.8em;
	font-weight: bold;
	/* color: #1f334e;
	background-color: #b9b6b6; */
	background-color: #757575;
	color: white;
}
.btnContainer_createToken {
	margin-bottom: 0;
}
@media ( max-width: 1420px ) {

}
@media ( max-width: 900px ) {
	.frame_create {
		width: 85%;
	}
}
/* //////////////// */

/* DataTable */
.dataTables_length {
	margin-bottom: 1.8em;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 0px;
  border-bottom: 0; 
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 0; 
	/* margin-bottom: 1.5em; */
}
table {
	font-size: 0.8em;
}
th {
	font-size: 1.2em;
	color: #1f334e;
}
th:first-of-type {
	text-align: right;
}
th:nth-of-type(1) {
	text-align: left;
}
td:nth-of-type(1) {
	text-align: left;
}
td:last-of-type	{
	text-align: center;
}
option:first {
    color: #999;
}
.ticket_in_db_font-color {
	color: green;
	font-weight: bold;
}
.ticket_in_db_font-size {
	font-size: 1.2em;
}
/* //////////////// */

/* CheckBox Style */
/* Customize the label (the container) */
.container {
	display: flex;
	justify-content: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  /* Hide the browser's default checkbox */
  .container input {
	opacity: 0;
	cursor: pointer;
  }
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: #eee;
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background: linear-gradient(to bottom, #2C4763, #425e7c);
	border-radius: 2px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-radius: 1px;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }